Program requirements

Prior to the show a list of all the classeses in the show needs to be agreed and the prize money agreed for the places. 
Most classes will be awarded for the first three places, the money will vary depending on the class.
Some classes get prizes down to 6th place.
On top of the classes there are also special awards these are for the most points in certain categories and the best exhibit in a category.
A category will consist of a range of classes.


Start of show all exhibitors need to be registered and assigned an exhibitor number